{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content%}

<!-- Main Content -->
{% for post in posts %}
    <div class="post-preview">
        <a href="{% url 'blog:blog_detail' post.id %}">
            <h3 class="post-title"> {{ post.title }} </h3>
        </a>
        <p class="post-subtitle"> {{ post.body_text|safe|truncatewords:10 }} </p>
        <p class="post-meta">Posted by <a href="{% url 'homepage' %}"> {{ post.author }} </a> on {{ post.pub_date }}</p>
    </div>
{% endfor %}

{% endblock content %}

